# Variáveis de ambiente / segredos
.env
*.env
!.env.example

# Go
/auth-service/app
/evaluation-service/app
*.exe
*.test

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Docker
*.log

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db


# Kubernets
*-secrets.yml
*-secrets.yaml
!*-secrets.example.yml
!*-secrets.example.yaml


# Pessoais
explicacao_deployment_kubernetes.txt
explicacao_nginx_controller.txt
comandos_run.txt
POSTECH - Tech Challenge - Fase 2.pdf
Prints.pptx

# Coleções de API com credenciais reais nos headers
requisicoes.yaml

